on:
  push:
    branches:
      - master
    paths:
      - ".github/**"
      - "android/**"
      - "lib/**"
      - "test/**"
      - "pubspec.yaml"
  pull_request:
    branches:
      - master
name: SoundOnFire Development
jobs:
  build:
    name: Prepare, Build, Upload
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Restore Keystore
        if: ${{ github.repository == "timoknapp/sound-on-fire" }}
        run: |
          echo "${{ secrets.KEYSTORE }}" > sound-on-fire.jks.asc
          gpg -d --passphrase "${{ secrets.KEYSTORE_PASSPHRASE }}" --batch sound-on-fire.jks.asc > android/sound-on-fire.jks

      - name: VB Step 1
        if: ${{ github.repository == "timoknapp/sound-on-fire" }}
        run: ./.github/scripts/bumpVersion.sh

      - name: VB Step 2
        if: ${{ github.repository == "timoknapp/sound-on-fire" }}
        uses: EndBug/add-and-commit@v4
        with:
          author_name: timoknapp
          author_email: mail@timoknapp.com
          message: "chore(version): bump commit hash"
          add: "pubspec.yaml"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # - name: Checkout code
      #   uses: actions/checkout@v2

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: "12.x"

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: "stable" # or: 'dev' or 'beta'

      - name: Prepare & Build
        id: prepare-build
        run: |
          ./.github/scripts/buildAndroid.sh beta "${{ secrets.KEYSTORE_PASSWORD }}" "${{ secrets.KEY_PASSWORD }}" "${{ secrets.KEY_ALIAS }}" "${{ secrets.APP_CENTER_SECRET }}"
          echo "::set-output name=dir::$(cat tmp_artifact_path.txt)"
          echo "::set-output name=file::$(cat tmp_artifact_name.txt)"

      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: ${{ steps.prepare-build.outputs.file }}
          path: ${{ steps.prepare-build.outputs.dir }}
